<style>
  .link {
    display: grid;
    grid-template-columns: auto auto  auto;
    gap: 32px;
    justify-content: center;
  }

  .link a img {
    max-width: 90px;  
    height: auto;
  }
.contact{
    color: #F9005F;
    text-transform: uppercase;
}
  @media (max-width: 768px) {
    .link {
        display: grid;
        grid-template-columns: auto auto  auto;
        gap: 32px;
        justify-content: center;
        margin-top: 32px;
        margin-bottom: 32px;
  }

      .link a img {
        max-width: 50px;  
        height: auto;
      }
  }
</style>
<div class="container text-center mt-5 mb-5">
    <h3 class="contact"> meios de contato</h3>
</div>

<div class="container link">
  <%= link_to image_tag('email.png'), 'mailto:sevilha.larissa10@gmail.com' %>
  <%= link_to image_tag('github.png'), 'https://github.com/LariSevilha' %>
  <%= link_to image_tag('lattes.png'), 'http://lattes.cnpq.br/6358469337221483' %>
  <%= link_to image_tag('whats.png'), 'https://api.whatsapp.com/send?phone=5567999312105' %>
  <%= link_to image_tag('linkedin.png'), 'https://www.linkedin.com/in/larissa-sevilha-378718217/' %>
  <%= link_to image_tag('insta.png'), 'https://www.instagram.com/lari_seviilha/' %>
</div>
