<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'logo.png' %>
    <title>Portifolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <%#= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <style>
  body {
    background-color: black;
}

.navbar {
    background-color: black !important;
}

.btn {
    color: #E50057 !important;
    border-color: #E50057 !important;
}

.btn:hover {
    color: #E50057 !important;
    background-color: white !important;
    border-color: #E50057 !important;
}

.img-logo {
    width: 248px;
}

@media (max-width: 767px) {
    .img-logo {
        width: 124px;
    }

    .navbar {
        text-align: center;
    }

    .nav-container {
        flex-direction: column;
        align-items: center;
    }

    .nav-buttons {
        margin-top: 20px;
    }

    .btn {
        font-size: 14px;
    } 
    footer {
        font-size: 15px;
        flex-direction: column;
    }
}
@media (max-width: 767px) {
    .img-home {
        display: flex;
        justify-content: center;
        margin-top: 32px;
        margin-bottom: 32px;
    }
    
    .text-home {
        color: #E50057;
        font-family: Inria Sans;
        font-size: 30px !important;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
     
    .img-home img,
    .img-home video {
        width: 50%;  
        margin: 0 10px;  
    }
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-buttons {
    display: flex;
}
.name-footer {
  color: #E50057 ;
  text-decoration: none;
  text-transform: uppercase;
  margin: 8px;
}

.name-footer:hover {
  color: white ;
}
.developer-info{
    color: white ;
}
.img-home{
    display: flex;
    justify-content: center;
    margin-top: 38px;
    margin-bottom: 32px;
}
.text-home{
    color: #E50057;
    font-family: Inria Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;   
}
.web-title {
    display: block; /* Para que "Web" fique em uma linha separada */
}

.developer-title {
    display: block; 
    margin-top: 5px; /* Adicione margem superior para posicioná-lo abaixo de "Web" */
}
.oval {
    display: flex;
    width: 140px;
    padding: 12px 37px;
    justify-content: center;
    align-items: center;
    border-radius: 59px;
    background: #E50057;
    font-size: 16px;
    margin: 20px;
    transition: transform 0.3s ease;
}

.oval:hover {
    transform: scale(1.2);
}
.oval p {
    margin: 0; /* Remova margens padrão do parágrafo */
    color: #FFF; /* Cor do texto */
} 
</style>
 
    <div class="container">
        <div class="nav-container">
            <%= link_to root_path do %>
              <%= image_tag 'logo.png', class: "img-logo" %>
            <% end %>
            <nav class="navbar navbar-light bg-light">
                <div class="nav-buttons">
                    <%= link_to "Sobre mim", about_index_path, class: "btn btn-outline-success me-2" %>
                    <%= link_to "Projetos",  project_index_path, class: "btn btn-outline-success me-2" %>
                    <%= link_to "Contato",   contact_index_path, class: "btn btn-outline-success me-2" %>
                </div>
            </nav>
        </div>
        <%= yield %>
        <footer style="display: flex; justify-content: space-between; align-items: center;">
            <div class="footer-content">
                <div class="additional-info">
                    <div class="copyright developer-info">
                        &copy; <%= Time.now.year %> Todos os direitos reservados
                    </div>
                </div>
            </div>
            <div class="developer-info">
                Desenvolvido por: 
                <a href="https://www.instagram.com/lari_seviilha/" class="name-footer" target="_blank">
                  Larissa Sevilha
                </a> 
            </div>
        </footer> 
     </div> 
  </body>
</html>
